*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(istockphoto-533346005-612x612.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main{
  background: rgba(0, 0,0,0.5);
  
}
i:active{
  box-shadow: 1px 1px 50px blue;
}
.img{
  width: 50px;
}
h3{
  display: none;
}
